<div class="page-container back-log col-md-4">
    <form>
        <h1 class="h1">!!!Venha correr!!!</h1>
        <input type="text" name="login" class="Name" placeholder="LOGIN" id="inputUser">
        <input type="password" name="password" class="Address" placeholder="PASSWORD" id="inputPassword">
        <button type="submit" value="Add" name="submit" ng-click="Ic.getLogin()">Login</button>
    </form>
    <br>
    <div class="d-flex justify-content-center links">
        <a ng-click="Ic.movePage()" href="">Cadastrar</a>
    </div>
    <br>
</div>